body{
	background-color: #F0F0F0;
}
.card .card-header{
	color: white; 
	text-transform: uppercase; 
	font-weight: bold;
}

.card .card-body .content{
	margin: 12% 0%;
}
.card .card-body .count-left{
	float: left;
	width: 49%;
	color: white;
	font-weight: bold;
}
.card .card-body .content-left{
	float: left;
	width: 50%;
	color: white;
	font-weight: 400;
}
.card .card-body .count-right{
	float: right;
	width: 49%;
	color: white;
	font-weight: bold;
}
.card .card-body .content-right{
	float: left;
	width: 50%;
	color: white;
	font-weight: 400;
}
.card .card-body .count-left:after {
	content: "";
	background-color: #fff;
	position: absolute;
	width: 0.5%;
	height: 40%;
	top: 48%;
	left: 50%;
	display: block;
}
.cards-side{
	width: 100%;
	display: inline-block;
}

.card-side .card-side-left{
	float: left;
	width: 84%;
}

.card-side .card-side-right{
	float: right;
	width: 16%;
	height: 20%; 
	background-color: white; 
	text-align: center;
	transform: translateY(-50%);
	position: relative;
	border-radius: 10%; 
	padding: 3% 0%;
	color: red;
	font-weight: bold;
}

.container .outer {
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: #356DE4;
  min-height: 12%;
  border-radius: 10px;
}

.container .outer .inner{
	background-color: #358EE4;
	margin: 1%;
	padding: 1% 4%;
	width: 75%;
	color: white;
	border-radius: 0.5rem;
	font-weight: bold;
}

#state-graph-1, #state-graph-2{
	margin: 0% 1.5%;
}

th,td{
	text-align: center;
	font-weight: bold;
}

.text-nowrap{
	white-space: nowrap;
}

th > span{
	display: inline-block;
}

tr.hide-table-padding td {
	padding: 0;
}

.expand-button {
	display: inline-block;
	position: relative;
}
.accordion-toggle .expand-button:after
{
  position: absolute;
  left: -0.75rem;
  top: -0.5rem;
  transform: translate(0, -50%);
  font-family: "Font Awesome 5 Free";
  font-size: 18px;
  content: '\f0d7';
}
.accordion-toggle.collapsed .expand-button:after{
   font-family: "Font Awesome 5 Free";
   font-size: 18px;
   content: "\f0da";
}
