{% include 'layout.html' %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="card text-center" style="background-color: blue;">
				<div class="card-header">
					Total Confirmed Cases
				</div>
				<div class="card-body">
					<div class="count">
						<div class="count-left">{{tc}}</div>
						<div class="count-right">{{dc}}</div>
					</div>
					<div class="content">
						<div class="content-left">Total</div>
						<div class="content-right">New</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card text-center" style="background-color: #29A746;">
				<div class="card-header">
					Total Recovered Cases
				</div>
				<div class="card-body">
					<div class="count">
						<div class="count-left">{{tr}}</div>
						<div class="count-right">{{dr}}</div>
					</div>
					<div class="content">
						<div class="content-left">Recovered</div>
						<div class="content-right">New</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card text-center" style="background-color: #6D767E;">
				<div class="card-header">
					Total Deceased Cases
				</div>
				<div class="card-body">
					<div class="count">
						<div class="count-left">{{td}}</div>
						<div class="vl"></div>
						<div class="count-right">{{dd}}</div>
					</div>
					<div class="content">
						<div class="content-left">Deceased</div>
						<div class="content-right">New</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6"><canvas id="dailyConfirmed" width="500" height="300"></canvas></div>
		<div class="col-md-6"><canvas id="totalConfirmed" width="500" height="300"></canvas></div>
	</div>
	<div class="row">
		<div class="col-md-6"><canvas id="dailyRecovered" width="500" height="300"></canvas></div>
		<div class="col-md-6"><canvas id="totalRecovered" width="500" height="300"></canvas></div>
	</div>
	<div class="row">
		<div class="col-md-6"><canvas id="dailyDeceased" width="500" height="300"></canvas></div>
		<div class="col-md-6"><canvas id="totalDeceased" width="500" height="300"></canvas></div>
	</div>
</div>
	
<script>
	Chart.defaults.global.responsive = false;
	var data = JSON.parse({{ data | tojson | safe }});
	local_dates = [];
	for(var i=0; i<data['date'].length; i++)
		local_dates.push(new Date(data['date'][i]).toLocaleString());

	const options = { 
		scales: {
			xAxes: [{
				type: 'time'
			}]
		}
	};
	const ctx_dc = document.getElementById('dailyConfirmed').getContext('2d');
	const ctx_tc = document.getElementById('totalConfirmed').getContext('2d');
	const ctx_dr = document.getElementById('dailyRecovered').getContext('2d');
	const ctx_tr = document.getElementById('totalRecovered').getContext('2d');
	const ctx_dd = document.getElementById('dailyDeceased').getContext('2d');
	const ctx_td = document.getElementById('totalDeceased').getContext('2d');
	var chart_dc, chart_tc, chart_dr, chart_tr, chart_dd, chart_dd, chart_td;

	const plotChart = (chart, ctx, label, type, color) => {
		chart = new Chart(ctx, {
			type: 'line',
			data: {
				labels: local_dates,
				datasets: [{
					label: label,
					data: data[type],
					backgroundColor: [color],
					borderColor: [color],
					borderWidth: 2,
				}]
			},
			options: options,
		});
	}
	// Daily Confirmed
	plotChart(chart_dc, ctx_dc, 'Daily Confirmed', 'dailyconfirmed', '#FF093C');
	// Total Confirmed
	plotChart(chart_tc, ctx_tc, 'Total Confirmed', 'totalconfirmed', '#FF093C');
	// Daily Recovered
	plotChart(chart_dr, ctx_dr, 'Daily Recovered', 'dailyrecovered', '#29A746');
	// Total Recovered
	plotChart(chart_tr, ctx_tr, 'Total Recovered', 'totalrecovered', '#29A746');
	// Daily Deceased
	plotChart(chart_dd, ctx_dd, 'Daily Deceased', 'dailydeceased', '#6D767E');
	// Total Deceased
	plotChart(chart_td, ctx_td, 'Daily Deceased', 'totaldeceased', '#6D767E');

</script>
{% endblock %}