<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" href="/">Covid-19 India</a>
	<ul class="nav navbar-nav">
		<li class="nav-item" style="margin: 0% 10px;"><a href="/" class="nav-link"><span style="margin: 0% 10px;"><i class="fas fa-home"></i></span>Home</a></li>
		<li class="nav-item" style="margin: 0% 10px;"><a href="/about" class="nav-link"><span style="margin: 0% 10px;"><i class="fas fa-users"></i></span>About</a></li>			
		<li class="nav-item" style="margin: 0% 10px;"><a href="/resources" class="nav-link"><span style="margin: 0% 10px;"><i class="fas fa-folder"></i></span>Resources</a></li>
		<li class="nav-item" style="margin: 0% 10px;"><a href="/testing-lab" class="nav-link"><span style="margin: 0% 10px;"><i class="fas fa-vial"></i></span>Testing Lab</a></li>
		<li class="nav-item dropdown" style="margin: 0% 10px;">
        <a class="nav-link dropdown-toggle" href="/help" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span style="margin: 0% 10px;"><i class="fas fa-question-circle"></i></i></span>Help</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/police"><span style="margin-right: 7.5%;"><i class="fas fa-police-box"></i></span>Police</a>
          <a class="dropdown-item" href="/donate"><span style="margin-right: 7.5%;"><i class="fas fa-donate"></i></span>Donate !</a>
          <a class="dropdown-item" href="/senior-citizen-help"><span style="margin-right: 7.5%;"><i class="fas fa-wheelchair"></i></span>Senior Citizen Support</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/helpline"><span style="margin-right: 7.5%;"><i class="fas fa-phone"></i></span>Helpline numbers</a>
        </div>
      </li>
	</ul>
	<!-- <form class="form-inline my-2 my-lg-0" style="margin-left: 2%">
		<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	</form> -->
</nav>