<nav class="navbar navbar-toggler navbar-collapse navbar-expand-xl navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-dark bg-dark py-2">
	<a class="navbar-brand" href="/">Covid-19 India</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
	<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		<li class="nav-item mx-3"><a href="/" class="nav-link"><span class="mx-1"><i class="fas fa-home"></i></span> Home</a></li>
		<li class="nav-item mx-3"><a href="/resources" class="nav-link"><span class="mx-1"><i class="fas fa-folder"></i></span> Resources</a></li>
		<li class="nav-item mx-3"><a href="/testing-lab" class="nav-link"><span class="mx-1"><i class="fas fa-vial"></i></span> Testing Lab</a></li>
		<li class="nav-item dropdown mx-3">
        <a class="nav-link dropdown-toggle" href="/help" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="mx-1"><i class="fas fa-question-circle"></i></span> Help</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/police"><span class="mx-1"><i class="fas fa-police-box"></i></span> Police</a>
          <a class="dropdown-item" href="/donate"><span class="mx-1"><i class="fas fa-donate"></i></span> Donate !</a>
          <a class="dropdown-item" href="/senior-citizen-help"><span class="mx-1"><i class="fas fa-wheelchair"></i></span>Senior Citizen Support</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/helpline"><span class="mx-1"><i class="fas fa-phone"></i></span> Helpline numbers</a>
        </div>
      </li>
	</ul>
	<form class="form-inline my-2 my-lg-0" style="margin-left: 2%">
		<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	</form>
	</div>
</nav>
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Covid-19 India</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/"><span><i class="fas fa-home"></i></span> Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about"><span><i class="fas fa-users"></i></span> About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/resources"><span><i class="fas fa-folder"></i></span> Resources</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/testing-lab">Tesing Labs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/help"></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/help" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Help</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/police">Police</a>
          <a class="dropdown-item" href="/donate">Donate!</a>
          <a class="dropdown-item" href="/senior-citizen-help">Senior Citizen Support</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/helpline">Helpline numbers</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> -->