<nav class="navbar navbar-toggler navbar-collapse navbar-expand-xl navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-dark bg-dark py-2">
	<a class="navbar-brand" href="/">
    <svg height="35" width="145" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
      <text fill="#ffffff" stroke="#878988" stroke-width="0.5" x="62.5" y="17.5" id="svg_1" font-size="20" font-family="Georgia" text-anchor="middle" xml:space="preserve" font-weight="bold" font-style="normal">Covid-19<tspan fill="#ffffff" stroke="#0000ff" stroke-width="0" x="62.5" y="30.5" id="svg_2" font-size="15" font-family="Serif" text-anchor="middle" xml:space="preserve" font-weight="bold" font-style="normal">India</tspan>
      </text>
    </svg>
  </a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
	<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		<li class="nav-item mx-3"><a class="nav-link" href="/"><span class="mx-1"><i class="fas fa-home"></i></span> Home</a></li>
		<li class="nav-item mx-3"><a class="nav-link" href="/testing-lab"><span class="mx-1"><i class="fas fa-vial"></i></span> Testing Lab</a></li>
    <li class="nav-item mx-3"><a class="nav-link" href="/donate"><span class="mx-1"><i class="fas fa-donate"></i></span> Donate</a></li>
    <li class="nav-item mx-3"><a class="nav-link" href="/helpline"><span class="mx-1"><i class="fas fa-phone"></i></span> Helpline</a></li>
    <li class="nav-item mx-3"><a class="nav-link" href="/police"><span class="mx-1"><i class="fas fa-user-secret"></i></span> Police</a></li>
    <li class="nav-item mx-3"><a class="nav-link" href="/map"><span class="mx-1"><i class="fas fa-map"></i></span> Map</a></li>
	</ul>
	<form class="form-inline my-2 my-lg-0" style="margin-left: 2%">
		<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	</form>
	</div>
</nav>